* {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

nav,
ul {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}

.panel-bg {
  display: flex;
  justify-content: space-around;
  width: 99%;
  height: 95px;
  background-color: white;
  border: solid rgb(133, 133, 133);
  border-radius: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.Bookstore-CMS {
  text-align: center;
  width: 40%;
  height: 37px;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(27, 136, 179);
}


.book-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

.title {
  width: 25%;
  height: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: rgb(126, 126, 126);
  text-align: center;
}